<template>
  <div id="app">
    <navbar class="relative z-20" />
    <div
      class="fixed w-full h-screen bg-gray-100 bg-center bg-no-repeat bg-cover opacity-20 background"
    ></div>
    <div class="relative z-10 global-container">
      <router-view />
    </div>
  </div>
</template>

<script>
import navbar from "./components/navbar.vue";
export default {
  components: { navbar },
  name: "App"
};
</script>

<style lang="postcss">
.global-container {
  @apply px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 h-full;
}
.background {
  background-image: url("./assets/images/sanctuary.jpg");
}
</style>
