<template>
  <div
    class="container relative p-5 mx-auto mt-5 bg-white rounded-md shadow-md h-96"
  >
    <div
      class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    >
      <div>
        Welcome to Sanctuary.
      </div>
      <button
        @click="getData"
        type="button"
        class="inline-flex items-center px-4 py-2 mt-5 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Get data from API
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    async getData() {
      try {
        let response = await this.axios.get("/api/user");
        console.log(response.data);
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style lang="postcss" scoped></style>
