<template>
  <div
    class="container relative p-5 mx-auto mt-5 bg-white rounded-md shadow-md h-96"
  >
    <div
      class="absolute w-full px-5 transform -translate-x-1/2 -translate-y-1/2 lg:w-1/3 top-1/2 left-1/2"
    >
      <login-form />
    </div>
  </div>
</template>

<script>
import LoginForm from "../components/login-form.vue";

export default {
  name: "Login",
  components: {
    LoginForm
  }
};
</script>
